.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
content/.ipynb_checkpoints/*
content/*/.ipynb_checkpoints/*
*.pyc
_build
content/_build
*~
climatehub_image/user_list.txt
/content/courseware/xarray/.ipynb_checkpoints/

